/* .specialist_container {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.specialist_header {
    text-align:center;
    margin-top:10px;
    margin-bottom:5px;
}

.specialist_wrapper {
    font-size:18px;
    background-color:rgb(243, 171, 171);
    border-radius: 10px;
    width:25%;
}
 */
