.pokemon {
    text-align:center;
}

.user_input { 
    margin-top:20px;
    text-align:center;
}

#error_message {
    color:red;
    text-align:center;
    font-size:18px;
}

.add_pokemon, .clear_party {
    display:flex;
    align-items:center;
    justify-content: center;
}

#pokemon_list {
    text-align:center;
    list-style-position: inside;
    margin-right:40px;

}

#party_limit_error {
    color:red;
    text-align:center;
    font-size:18px;
}

